* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    font-size: 16px;
    background-image: url('../imagenes/bg-tablet-pattern.svg'), url('../imagenes/bg-tablet-pattern.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 170% -15%, -110% 75%;
    background-size: 65%;
}

/* ? ****** ESTILOS VARIOS ********/

.title {
    color: #232C50;
}

.paragraph {
    color: #B3B2B7;
}

.btn-style {
    font-weight: 500;
    height: 44px;
    width: 140px;
    border-radius: 50px;
    padding: 10px;
    background-color:rgb(242, 95, 58);
    color: rgb(248, 222, 222);
    box-shadow: 0px 4px 8px 0px #F2613B80;
    border: none; 
}

.btn-style:hover {
    cursor: pointer;
    background-color:rgba(242, 95, 58,0.6);
    transform: scale(1.1);
}

/**************** HEADER ****************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    margin: 3% 7%;
}

/* Barra de navegación */

header nav {
    flex-grow: 0.2;
}

.li-flex {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 500;
    font-size: 14px;
}

.li-flex a {
    color: #242E52;
    text-decoration: none;
}

.li-flex a:visited {
    color: #242E52;
}

.li-flex a:hover {
    color: rgb(143, 148, 167);
}

#bars {
    display: none;
}

/***************** SECTIONS *****************/

.contenedor-section {
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;
    flex-wrap: wrap;
}

.contenedor-div {
    width: 40vw;
    min-width: 375px;
    padding: 3%;
}

/* PRIMER SECTION */

.contenedor-div h1 {
    font-size: 58px;
    font-weight: 700;
    margin-top: 28px;
}

.contenedor-div p {
    margin: 4% 0;
    font-weight: 500;
    line-height: 26px;
}

.contenedor-div img {
    width: 34vw;
}

/* SEGUNDO SECTION */

.contenedor-div h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;  
}

.contenedor-div ul li{
    list-style: none;
}

.contenedor-div ul li p {
    margin-left: 19%;
}

#one::before {
    content: "01";
    background-color: #F3603B;
    color: white;
    margin-right: 3%;
    height: 43px;
    width: 50px;
    border-radius: 30px;
    padding: 10px 25px;
}

#two::before {
    content: "02";
    background-color: #F3603B;
    color: white;
    margin-right: 3%;
    height: 43px;
    width: 50px;
    border-radius: 30px;
    padding: 10px 25px;
}

#three::before {
    content: "03";
    background-color: #F3603B;
    color: white;
    margin-right: 3%;
    height: 43px;
    width: 50px;
    border-radius: 30px;
    padding: 10px 25px;
}

/**************** SECTION CARDS ****************/

#cards-section {
    text-align: center;
    margin: 5% 0;
}

#cards-section h2 {
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 8%;
}

#cards-section button {
    margin-top: 2%;
}

#ellipsis {
    display: none;
}

#contenedor-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-card {
    background-color: #fff5e9ea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 445px;
    height: 219px;
    margin: 5% 0;
}

.profile-card {
    height: 70px;
    width: 70px;
    position: relative;
    bottom: 17%;
}

.contenedor-card h4 {
    color: #3F4868;
    font-weight: 700;
    position: relative;
    bottom: 5%;
    margin-bottom: 2%
}

.contenedor-card p {
    font-weight: 600;
    padding: 0 4%;
    text-align: center;
}

/**************** PREFOOTER ****************/

#prefooter {
    height: 10em;
    width: 100%;
    background-color: #F3613C;
    background-image: url('../imagenes/bg-simplify-section-desktop.svg');
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

#prefooter h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
}

/******************** FOOTER ********************/

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color:#1E1E26;
    height: 30%;
    width: 100%;
    color: white;
    padding: 2%;
}

footer nav {
    flex-grow: 0.1;
}

footer li {
    margin-top: 12px;
    list-style: none;
}

.flex-listas {
    display: flex;
    flex-direction: column;
}

#nav-footer { 
    display: flex;
    justify-content: space-between;
    flex-grow: 0.2;
}

#footer a {
    text-decoration: none;
    font-weight: 400;
}

#footer a:visited {
    color: white;
}

#footer a:hover {
    color: rgb(242, 95, 58);
}

footer p {
    font-weight: 500;
    font-size: 12.5px;
    text-align: center;
}


#icons {
    display: flex;
    justify-content: space-between;
}

#icons i:hover {
    color: orange;
}

form input {
    height: 44px;
    width: 201px;
    border-radius: 50px;
    padding: 10px;
}

#email:focus{
    outline: none;
}

#email:invalid{
    border-color: #fd2020;
    margin-bottom: 3%;
}

#email:invalid + span::after{
    content: "Please insert a valid email";
    color: #fd2020;
}

#email-div {
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
}

form button {
    padding: 10px;
    width: 63px;
    height: 48px;
    background: #f3603b;
    box-shadow: 0px 4px 8px 0px #F2613B80;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
}

form button:hover {
    cursor: pointer;
    background-color: rgba(243, 96, 59, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

#btn2 {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgb(243, 96, 59);
    border: none;
    width: 134px;
    height: 44px;
}

#btn2:hover {
    color:rgba(243, 96, 59,0.7);
    cursor: pointer;
}

/* ! *************** MEDIA QUERIES *************** ! */

@media screen and (max-width: 550px) {

    body {
        background-position: 80px -4%, 220px 18%;
        background-size: 110%, 80%;
    }

/* ? ***** HEADER ***** ? */

    header {
        margin: 5% 2% 1% 2%; 
    }

    header img {
        height: 4vh;
        margin-top: 10px;
    }

    #bars {
        display: block;
        font-size: 20px;
        color: #242E52;
        cursor: pointer;
    }
    
/* ? ***** SECTIONS ***** ? */

    .contenedor-div {
        text-align: center;
        padding: 0%;
    }

    .contenedor-section {
        padding: 5% 0%;
    }

    /* Primer section */

    .contenedor-div h1 {
        font-size: 40px;
    }

    .contenedor-div img {
        width: 85vw;
    }

    /* Segundo section */

    .contenedor-div ul li {
        text-align: left;
        margin: 15% 0;
    }

    .contenedor-div ul li h4{
        font-size: 17px;
        background-color: rgba(243, 97, 60,0.1);
        height: 2em;
        padding-top: 1%;
    }

    .contenedor-div ul li p{
        margin: 6% 3%;
        font-size: 14px;
    }

    #order-mobile {
        flex-direction: column-reverse;
        margin: 0px;
    } 

    #one::before , #two::before , #three:before {
        height: 33px;
        width: 38px;
        padding: 5px 20px;
    }

/* ? ***** CARDS ***** ? */

    .mobile-none {
        display: none;
    }

    #contenedor-cards {
        margin: 10% 1%;
    }

    #cards-section h2 {
        margin-bottom: 15%;
    }

    #ellipsis {
        display: inline;
        color: #F3613C;
    }

    #ellipsis i {
        margin-bottom: 20px;
    }

/* ? ***** PREFOOTER ***** ? */

    #prefooter {
        margin-top: 15%;
        height: 350px;
        background-image: url('../imagenes/bg-simplify-section-mobile.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #prefooter h2 {
        font-size: 40px;
        margin-bottom: 5%;
    }

/* ? ***** FOOTER ***** ? */

    footer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 3% 2%;
        height: 450px;
        position: relative;
    }

    footer nav {
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }

    footer li {
        margin: 12px 12px;
    }

    #mobile-icons {
        flex-direction: column-reverse;
        height: 100px;
        margin: 5% 0;
    }

    #icons {
        height: 4em;
        width: 60vw;
        justify-content: space-evenly;
    }

    footer img {
        width: 60vw;
    }

    form input:invalid + p::after {
        content: 'Please insert a valid email';
    }

    form {
        display: flex;
    }

    #copyright {
        position: absolute;
        margin: 3%;
        bottom: 0;
    }
}
